option_settings:
    aws:elasticbeanstalk:application:environment:
        SECRET_KEY:
        DEBUG: False
        SHOW_DOCS: False
        CORS_ALLOW_ALL_ORIGINS: False
        SERVER_PROTOCOL: https
        ALLOWED_HOSTS: localhost
        CORS_ORIGIN_WHITELIST: http://localhost
        JWT_EXPIRATION_DELTA_IN_DAYS: 5
        DOMAIN_URL: localhost:4200
        DB_HOST:
        DB_PORT: 5432
        DB_NAME:
        DB_USER:
        DB_PASSWORD:
